<!-- INCLUDE -->

{% extends "base.html" %} {% block head %} {{ super() }}

<style></style>

{% endblock %} {% block content %}

<div class="container">
    <div class="page-header">
        <h1>{{name}}</h1>
        <h1>Ovo je i i tečaj</h1>
    </div>
    <div class="row">
        <!--STUPAC 1-->
        <div class="col-md-2 sidenav"></div>
    
        <!--STUPAC 2-->
        <div class="col-md-8 text-center">
          <div class="page-header">
            <!--SVE SKUPA-->
            <div class="row">
              <div class="moja">
                <h1>Kod tete na ručku</h1>
                <p>Datum 19.12.2024</p>
                <br>
                <ul>
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th>Redni broj</th>
                          <th>Učenik</th>                      
                          <th>Programski jezik</th>                    
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr
                          
                        >
                          <td></td>
                          <td>iskati</td>                     
                          <td>tražiti</td>                   
                        </tr>
                        <tr>
                          <td></td>
                          <td>povedati</td>                     
                          <td>reći, kazati</td>                   
                        </tr>
                        <tr>
                            <td></td>
                            <td>založba</td>                     
                            <td>izdavačka kuća</td>                   
                          </tr>
                          <tr>
                            <td></td>
                            <td>pogovarjati se</td>                     
                            <td>razgovarati</td>                   
                          </tr>
                          <tr>
                            <td></td>
                            <td>še lej</td>                     
                            <td>tek (tek tada, tek oko 8 sati)</td>                   
                          </tr>
                          <tr>
                            <td></td>
                            <td>izšla</td>                     
                            <td>objavljena, izdana (knjiga)</td>                   
                          </tr>
                          <tr>
                            <td></td>
                            <td>natančni</td>                     
                            <td>točni, detaljni</td>                   
                          </tr>
                          <tr>
                            <td></td>
                            <td>iti v hribe</td>                     
                            <td>ići planinariti</td>                   
                          </tr>
                          <tr>
                            <td></td>
                            <td>kupila jo bom...</td>                     
                            <td>kupit ću je</td>                   
                          </tr>
                          <tr>
                            <td></td>
                            <td>ker hodi rada...</td>                     
                            <td>rado ide</td>                   
                          </tr>
                          <tr>
                            <td></td>
                            <td>ločila</td>                     
                            <td>rečenični znakovi</td>                   
                          </tr>
                     
                      </tbody>
                    </table>
                  </ul>

               <h1>Dvojina</h1>
               <p>Datum 20.02.2025</p>
               <br>
               <p>Ana in Iva sta.</p>
               <p>Jaz in Ana sva.</p>
                <p>midva sva</p>
                <p>onadva sta</p>
                <p>onidve sta</p>
<br>
                <h2>Čez dan - tijekom dana, preko dana</h2>
               
              </div>
            </div>
            <!--SVE SKUPA-->
          </div>
        </div>
    
        <!--STUPAC 3-->
        <div class="col-md-2 sidenav"></div>
      </div>
</div>

{% endblock %}